<!doctype html>
<html>
    <head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
</style>
    </head>
    <body>
      <h1 align="center">Welcome to BSNL Database entry</h1>
      <!-- <ul>
          <li><a href="new"><span>Main</span></a></li>
          <li><a href="search"><span>Search Entries</span></a></li>
          <li><a href="table"><span>List all Entries</span></a></li>
        </ul> -->
      <a href="new">New Entry</a>
      <a href="search">Search Entries</a>
      <a href="table">All Entries</a>
    </body>
</html>
